 * {
  font-family: "ABeeZee", sans-serif;
  font-weight: 400;
  font-style: normal;
}

 .home-page {
     background-color: #353535;
     height: 100vh;
     width: 100vw;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     .align-center {
         height: 100%;
         width: 100%;
         margin: 10px;
         display: flex;
         justify-content: center;
         align-items: center;
     }
     .panel {
         width: 100%;
         height: 100%;
         background-color: #e3e3e3;
         border-radius: 10px;
         margin: 10px;
         display: grid;
         grid-template-columns: auto 1fr;
         grid-template-rows: 1fr 1fr;
         gap: 10px;
            padding: 10px;
         .mini-panel{
            background-color: #ffffff;
            border-radius: 10px;
            overflow: hidden;
            padding: 10px;
         }
         .modelos-panel{
            grid-column: 1 / -1;
         }
     }
 }